
.warning {
  margin: 0;
  margin-left: 30px;
  margin-bottom: 10px;
  color: rgb(252, 246, 75);
  font-size: smaller;
}
    


  .container{
    display: grid;
    place-items: center;
    flex-direction: column;
  }
  
  
  .form{
    display: grid;
    place-items: flex-start; 
    background-color:  rgb(128, 130, 94);
    border-radius: 15px;
    width: 600px;
    padding: 50px;
  }
  
  .form label {
    font-weight: bold;
    margin-bottom: 4px;
    margin-right: 6px;
  }
  
  .inputName input , .inputCountry input{
    border: none;
    border-radius: 8px;
    height: 30px;
    width: 430px;
    padding: 6px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .inputCountry{
    display: flex;
    width: 400px;
  }
  
  .inputDuration input{
    font-size: 20px ;
    border: none;
    border-radius: 8px;
    height: 30px;
    width: 50px;
    padding: 6px;
    margin-right: 10px;
    margin-bottom: 15px;
  }
  
  .inputLevel input , .inputSeason input{
    width: 20px;
    height: 20px;
    margin: 15px;
  }
  
  .inputLevel label , .inputSeason label{
    font-size: 20px;
  }
  
  .confirmForm{
    justify-self: center;
    margin-top: 35px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.737);
  }
  
  .errorText{
    
    margin: 0;
    margin-left: 30px;
    margin-bottom: 10px;
    color: red;
    font-size: medium;
    border: thin;
    border-radius: 2px;
    border-color: aliceblue;
    
  }
  
  .errorSelectText{
    margin: 3px;
    margin-left: 25px;
    margin-bottom: 25px;
    color: rgb(215, 104, 25);
    justify-content: flex-start;
  }
  
  .submitButton{
    background-color: aqua;
  }
  
  .noDisplay{
    background-color: blue;
    display: block;
    
  }

  .IdOptions{
    height: 50px;
  }