@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Rubik+Gemstones&display=swap');


.containerflag{
    display:grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
  }

  h1{
    font-family: 'Monoton';
    color: #e4cb0f;
    font-size: 80px;
    font-weight: 90;
    padding-bottom: 0px;
    margin: 0px;
  }

  #Nav_title{
    background-color: rgba(141, 95, 26, 0.99);
  }

  #SearchBar{
    background-color: rgba(48, 173, 189, 0.664);
  }
  
  .Home{
    background-color: rgba(0, 255, 255, 0.349);
  }

  .Pages{
    background-color: #189e3e;
    align-items: baseline;

  }

  .Page{
    margin: 5px;
  }


  .pageNumber{
    background-color: #dcdada ;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
    -webkit-box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
    -moz-box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
    margin: 5px;
  }
  
  .pageNumber:hover{
    transform: scale(1.15);
    background-color: var(--ligth-green-two);
    
  }
  .pageNumberActive{
    background-color: var(--yellow);
    transform: scale(1.15);
    font-weight: bold;
    width: 35px;
    height: 33px;
    border-radius: 50%;
    border: none;
    box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
    -webkit-box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
    -moz-box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
    margin: 5px;
  }

  
