:root{
    --text-input-field: #F7F7F7;
    --ligth-green: #ACD9B2;
    --ligth-green-two: #B6ECC5;
    --green: #189e3e;
    --yellow: #fafa9c;
    --alert: #FF7F76;
    --error: #FF3300;
  }
  

  .container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-self: flex-end;
    background-color: var(--green);
    box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
    -webkit-box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
    -moz-box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
    border-radius: 50px;
    margin-top: 30px;
    margin-right: 5%;
    height: 60px;
    width: 500px;
  }
  
  .container button{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    border: none;
    background-color:var(--green);
  }
  
  .container button:hover{
    padding: 8px;
    border: none;
    border-radius: 14px;
    font-weight: 600;
    background-color: var(--ligth-green-two);
  }
  